
<nav className="bg-gray-900 text-white py-3 px-4 flex justify-between font-bold text-xl border-b">
  <a href="#" className="mr-6">
    Home
  </a>
  <a href="#" className="mr-6">
    About
  </a>
  <a href="#" className="mr-6">
    Contact
  </a>
  <a href="#" className="mr-6">
    Sign In
  </a>
  <a href="#" className="mr-6">
    Sign Up
  </a>
  <a href="#" className="mr-6">
  <i className="fa fa-search"></i>
  </a>
</nav>

<div id="places-list-container"></div>

